@{
    ViewData["Title"] = "Página de Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido Usuario</h1>
    <p>Seleccione la opción usuarios para desplegarlos.</p>
</div>

@*<div class="">.bg-white</div>*@
